<form method="POST" action="{{ url_for('clientes.cliente_informacoes', cliente_id=cliente.id) }}">
  <div class="row">
    <!-- Nome e Razão Social -->
    <div class="col-md-6 mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" value="{{ cliente.nome or '' }}">
    </div>
    <div class="col-md-6 mb-3">
      <label for="apelido" class="form-label">Apelido</label>
      <input type="text" class="form-control" id="apelido" name="apelido" value="{{ cliente.apelido or '' }}">
    </div>
  </div>

  <div class="row">
    <!-- Razão social, sexo, nascimento -->
    <div class="col-md-4 mb-3">
      <label for="razao_social" class="form-label">Razão Social</label>
      <input type="text" class="form-control" id="razao_social" name="razao_social" value="{{ cliente.razao_social or '' }}">
    </div>
    <div class="col-md-4 mb-3">
      <label for="sexo" class="form-label">Sexo</label>
      <select class="form-select" id="sexo" name="sexo">
        <option value="">--</option>
        <option value="Masculino" {% if cliente.sexo == 'Masculino' %}selected{% endif %}>Masculino</option>
        <option value="Feminino" {% if cliente.sexo == 'Feminino' %}selected{% endif %}>Feminino</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="data_nascimento" class="form-label">Data de Nascimento</label>
      <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" value="{{ cliente.data_nascimento or '' }}">
    </div>
  </div>

  <div class="row">
    <!-- Estado civil, escolaridade -->
    <div class="col-md-6 mb-3">
      <label for="estado_civil" class="form-label">Estado Civil</label>
      <input type="text" class="form-control" id="estado_civil" name="estado_civil" value="{{ cliente.estado_civil or '' }}">
    </div>
    <div class="col-md-6 mb-3">
      <label for="escolaridade" class="form-label">Escolaridade</label>
      <input type="text" class="form-control" id="escolaridade" name="escolaridade" value="{{ cliente.escolaridade or '' }}">
    </div>
  </div>

  <div class="row">
    <!-- Nome dos pais -->
    <div class="col-md-6 mb-3">
      <label for="nome_pai" class="form-label">Nome do Pai</label>
      <input type="text" class="form-control" id="nome_pai" name="nome_pai" value="{{ cliente.nome_pai or '' }}">
    </div>
    <div class="col-md-6 mb-3">
      <label for="nome_mae" class="form-label">Nome da Mãe</label>
      <input type="text" class="form-control" id="nome_mae" name="nome_mae" value="{{ cliente.nome_mae or '' }}">
    </div>
  </div>

  <div class="row">
    <!-- Documentos -->
    <div class="col-md-3 mb-3">
      <label for="documento" class="form-label">CPF / CNPJ</label>
      <input type="text" class="form-control" id="documento" name="documento" value="{{ cliente.documento or '' }}">
    </div>
    <div class="col-md-3 mb-3">
      <label for="rg" class="form-label">RG</label>
      <input type="text" class="form-control" id="rg" name="rg" value="{{ cliente.rg or '' }}">
    </div>
    <div class="col-md-3 mb-3">
      <label for="rg_emissor" class="form-label">Órgão Emissor RG</label>
      <input type="text" class="form-control" id="rg_emissor" name="rg_emissor" value="{{ cliente.rg_emissor or '' }}">
    </div>
    <div class="col-md-3 mb-3">
      <label for="cnh" class="form-label">CNH</label>
      <input type="text" class="form-control" id="cnh" name="cnh" value="{{ cliente.cnh or '' }}">
    </div>
  </div>

  <div class="row">
    <!-- Contatos -->
    <div class="col-md-4 mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" value="{{ cliente.email or '' }}">
    </div>
    <div class="col-md-4 mb-3">
      <label for="telefone" class="form-label">Telefone</label>
      <input type="text" class="form-control" id="telefone" name="telefone" value="{{ cliente.telefone or '' }}">
    </div>
    <div class="col-md-4 mb-3">
      <label for="celular" class="form-label">Celular</label>
      <input type="text" class="form-control" id="celular" name="celular" value="{{ cliente.celular or '' }}">
    </div>
  </div>

  <div class="row">
    <!-- Endereço -->
    <div class="col-md-6 mb-3">
      <label for="endereco" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="endereco" name="endereco" value="{{ cliente.endereco or '' }}">
    </div>
    <div class="col-md-2 mb-3">
      <label for="numero" class="form-label">Número</label>
      <input type="text" class="form-control" id="numero" name="numero" value="{{ cliente.numero or '' }}">
    </div>
    <div class="col-md-4 mb-3">
      <label for="complemento" class="form-label">Complemento</label>
      <input type="text" class="form-control" id="complemento" name="complemento" value="{{ cliente.complemento or '' }}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="bairro" class="form-label">Bairro</label>
      <input type="text" class="form-control" id="bairro" name="bairro" value="{{ cliente.bairro or '' }}">
    </div>
    <div class="col-md-4 mb-3">
      <label for="cidade" class="form-label">Cidade</label>
      <input type="text" class="form-control" id="cidade" name="cidade" value="{{ cliente.cidade or '' }}">
    </div>
    <div class="col-md-2 mb-3">
      <label for="estado" class="form-label">Estado</label>
      <input type="text" class="form-control" id="estado" name="estado" value="{{ cliente.estado or '' }}">
    </div>
    <div class="col-md-2 mb-3">
      <label for="cep" class="form-label">CEP</label>
      <input type="text" class="form-control" id="cep" name="cep" value="{{ cliente.cep or '' }}">
    </div>
  </div>

  <div class="row">
    <!-- Registros -->
    <div class="col-md-3 mb-3">
      <label for="cr" class="form-label">CR</label>
      <input type="text" class="form-control" id="cr" name="cr" value="{{ cliente.cr or '' }}">
    </div>
    <div class="col-md-3 mb-3">
      <label for="cr_emissor" class="form-label">Órgão Emissor CR</label>
      <input type="text" class="form-control" id="cr_emissor" name="cr_emissor" value="{{ cliente.cr_emissor or '' }}">
    </div>
    <div class="col-md-3 mb-3">
      <label for="sigma" class="form-label">SIGMA</label>
      <input type="text" class="form-control" id="sigma" name="sigma" value="{{ cliente.sigma or '' }}">
    </div>
    <div class="col-md-3 mb-3">
      <label for="sinarm" class="form-label">SINARM</label>
      <input type="text" class="form-control" id="sinarm" name="sinarm" value="{{ cliente.sinarm or '' }}">
    </div>
  </div>

<!-- Flags (categorias) -->
<div class="row mb-3">
  <div class="col-md-12">
    <label class="form-label">Categorias</label><br>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="cac" name="cac" {% if cliente.cac %}checked{% endif %}>
      <label class="form-check-label" for="cac">Cac</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="filiado" name="filiado" {% if cliente.filiado %}checked{% endif %}>
      <label class="form-check-label" for="filiado">Filiado</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="policial" name="policial" {% if cliente.policial %}checked{% endif %}>
      <label class="form-check-label" for="policial">Policial</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="bombeiro" name="bombeiro" {% if cliente.bombeiro %}checked{% endif %}>
      <label class="form-check-label" for="bombeiro">Bombeiro</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="militar" name="militar" {% if cliente.militar %}checked{% endif %}>
      <label class="form-check-label" for="militar">Militar</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="iat" name="iat" {% if cliente.iat %}checked{% endif %}>
      <label class="form-check-label" for="iat">Iat</label>
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="psicologo" name="psicologo" {% if cliente.psicologo %}checked{% endif %}>
      <label class="form-check-label" for="psicologo">Psicólogo</label>
    </div>
  </div>
</div>


  <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<!-- Inputmask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
<script>
  $(document).ready(function(){
    $("#documento").inputmask({
      mask: ["999.999.999-99", "99.999.999/9999-99"],
      keepStatic: true
    });
    $("#telefone").inputmask("(99) 9999-9999");
    $("#celular").inputmask("(99) 99999-9999");
    $("#cep").inputmask("99999-999");
  });
</script>
